{% extends "base.html" %}

{% block content %}

<table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Username</th>
        <th>Points</th>
        <th>Regular</th>
        <th>Bonus</th>
        <th>Striker</th>
      </tr>
    </thead>
    <tbody>
    {% for user in table %}
      <tr>
        <td><a href='{% url "user_detail" id=user.0.id %}'>{{user.0.username}}</a></td>
        <td>{{user.1.0|add:user.1.1}}</td>
        <td>{{user.1.0}}</td>
        <td>{{user.1.1}}</td>
        <td>Neymar</td>
      </tr>
	{% endfor %}
    </tbody>
  </table>


{% endblock content %}


